antiorm==1.2.1
attr==0.2.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
db==0.1.1
Django==1.10.6
docopt==0.6.2
future==0.16.0
idna==2.5
image==1.5.11
Markdown==2.6.9
olefile==0.44
Pillow==4.2.1
prettytable==0.7.2
Pygments==2.7.4
pyperclip==1.5.27
pypiwin32==220
PyQt5==5.9
pyqt5-tools==5.9.0.1.2
pysha3==1.0.2
pytesseract==0.1.7
pytz==2017.2
QScintilla==2.10.1
requests==2.18.1
rlp==0.6.0
simplejson==3.11.1
sip==4.19.3
toolz==0.8.2
urllib3==1.21.1
utils==0.9.0
virtualenv==15.1.0
web.py==0.40.dev0
